
.sidebar{
    width: 230px;
    min-height: 100vh;
    position: fixed;
    top: 70px;
    /* border: 1px solid #000; */
    /* margin-left: -10px; */
    margin-top: 15px;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
    transition: all 0.5s linear;

}
@media screen and (max-width:576px)
{
   .sidebar {
    margin-top: 1px;
    height: 100%;
}
}
.sidebar .sidebar-data {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* margin: 10px; */
    padding: 10px 15px;
    /* border: 1px solid #000; */
}
.sidebar-data .icon:hover {
    color: blueviolet;
}

.sidebar-hover:hover {
    color: blueviolet;

}